.button {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button span {
    max-width: 100%;
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button span:nth-child(1) {
    background-color: #333;
    color: #333;
    //background-image: url(../images/000.jpg);
    background-size: auto;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button:hover span:nth-child(1) {
    background-image: url(../images/000.jpg);
    background-size: 200px 60px;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button::before,
.button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button,
.button::before,
.button::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}





.button2 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button2 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button2 span:nth-child(1) {
    //background-image: url(../images/orange.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button2 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button2:hover span:nth-child(1) {
    background-image: url(../images/orange.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button2:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button2 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button2::before,
.button2::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button2,
.button2::before,
.button2::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}





.button3 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button3 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button3 span:nth-child(1) {
    //background-image: url(../images/color.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button3 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button3:hover span:nth-child(1) {
    background-image: url(../images/color.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button3:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button3 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button3::before,
.button3::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button3,
.button3::before,
.button3::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}







.button4 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button4 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button4 span:nth-child(1) {
    //background-image: url(../images/blue2.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button4 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button4:hover span:nth-child(1) {
    background-image: url(../images/blue2.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button4:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button4 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button4::before,
.button4::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button4,
.button4::before,
.button4::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}







.button5 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button5 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button5 span:nth-child(1) {
    //background-image: url(../images/pc.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button5 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button5:hover span:nth-child(1) {
    background-image: url(../images/pc.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button5:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button5 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button5::before,
.button5::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button5,
.button5::before,
.button5::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}













.button6 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button6 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button6 span:nth-child(1) {
    //background-image: url(../images/2014.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button6 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button6:hover span:nth-child(1) {
    background-image: url(../images/2014.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button6:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button6 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button6::before,
.button6::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button6,
.button6::before,
.button6::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}









.button7 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button7 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button7 span:nth-child(1) {
    //background-image: url(../images/sushi.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button7 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button7:hover span:nth-child(1) {
    background-image: url(../images/sushi.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button7:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button7 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button7::before,
.button7::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button7,
.button7::before,
.button7::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}








.button8 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button8 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button8 span:nth-child(1) {
    //background-image: url(../images/girl.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button8 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button8:hover span:nth-child(1) {
    background-image: url(../images/girl.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button8:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button8 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button8::before,
.button8::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button8,
.button8::before,
.button8::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}



.button9 {
    font-size:170%;
    position: relative;
    -webkit-perspective: 300px;
    perspective: 300px;
}
.button9 span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 3px solid #333;
    text-align: center;
    line-height: 56px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button9 span:nth-child(1) {
    //background-image: url(../images/girl.jpg);
    background-color: #333;
    color: #333;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button9 span:nth-child(2) {
    background-color: #333;
    color: #fff;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -30px;
    -moz-transform-origin: 50% 50% -30px;
    transform-origin: 50% 50% -30px;
}
.button9:hover span:nth-child(1) {
    background-image: url(../images/girl.jpg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button9:hover span:nth-child(2) {
    opacity:0.0;
    color:#99FFCC;
    border-width: 0px;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}.button9 {
    display: inline-block;
    width: 200px;
    height: 56px;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    outline: none;
}
.button9::before,
.button9::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
.button9,
.button9::before,
.button9::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
