@charset "utf-8";

/*preload classes*/
.svw {
	width: 50px;
	height: 20px;
	background: #fff;
}

.svw ul {
	position: relative;
	left: -999em;
}

/*core classes*/
.stripViewer {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	margin: 0 0 1px 0;
}

.stripViewer ul { /* this is your UL of images */
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;
	width: 1%;
	list-style-type: none;
}

.stripViewer ul li {
	float: left;
}

.stripTransmitter {
	overflow: auto;
	width: 1%;
}

.stripTransmitter ul {
	margin: 0;
	padding: 0;
	position: relative;
	list-style-type: none;
}

.stripTransmitter ul li {
	width: 20px;
	float: left;
	margin: 0 1px 1px 0;
}

.stripTransmitter a {
	font: bold 10px Verdana, Arial;
	text-align: center;
	line-height: 22px;
	background: #FF9999;
	color: #fff;
	text-decoration: none;
	display: block;
}

.stripTransmitter a:hover, a.current {
	background: #fff;
	color: #FF9999;
}

/*tooltips formatting*/
.tooltip {
	padding: 0.5em;
	background: #fff;
	color: #000;
	border: 1px solid #000;
}



/*.bg_img .bx-wrapper {
	max-height: 100%;
}*/

.bx-windows {
	margin-bottom: 10px;
}


/* �y�[�W���[���� */


/*.bg_img {
	width: 100%;
	max-width: 100%;
}*/

/*.bg_img .bx-wrapper {
	height: 100%;
}*/


